.Rhistory
.RData
rsconnect
Modelo de Distribucion de Especies.nb.html
Modelo de Distribucion de Especies.Rmd
Modelo-de-Distribucion-de-Especies.knit.md
Modelo-de-Distribucion-de-Especies.utf8.md
pandoc2dcc7d1e6459.nb.html